<form action="/campgrounds/create" method="POST">
    <input type="text" placeholder="name" name="campground">
    <input type="text" placeholder="description" name="description">
    <input type="submit"> submit campground
    </form>